/* ******************************* */
/*  BELOW 1344px(Smaller desktops) */
/* ******************************* */

@media (max-width: 84em) {
  html {
    font-size: 56.25%;
    height: 100%;
  }
  header {
    max-width: 100%;
  }
  .title {
    width: 37.5rem;
  }
  .onehex-left {
    transform: translate(-15%, 0%);
  }
  .feature-img {
    width: 50rem;
  }
  .robot {
    width: 30rem;
  }
  .features-section {
    padding-left: 8.4rem;
    padding-right: 8.4rem;
  }
  .threehex {
    width: 23rem;
    height: 23rem;
  }
  .threehex-left {
    width: 23rem;
    height: 23rem;
  }
  .testimonial-card {
    width: 45rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .testimonial-title {
    left: 10%;
  }
}
@media (max-width: 74em) {
  html {
    font-size: 50%;
  }
  .features-section {
    padding-right: 4.8rem;
    padding-left: 4.8rem;
  }
  .about-title {
    padding-left: 4.8rem;
  }
  .heading-secondary {
    padding-left: 4.8rem;
  }
  .mission-container {
    padding-top: 2.4rem;
    padding-bottom: 4.8rem;
  }
  .mission-description {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }
  .mission {
    gap: 0.8rem;
  }
  .screen-container-mission {
    width: 40rem;
  }
}
@media (max-width: 61.25em) {
  html {
    font-size: 56.25%;
  }
  .main {
    width: 100%;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 6.4rem;
    margin-top: 8rem;
  }
  .title {
    width: 35rem;
  }
  .mission {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .mission-container {
    border-radius: 9px;
    order: 2;
  }
  .screen-container-mission {
    width: 45rem;
  }
  .mission-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }
  .features-section {
    /* overflow: visible; */
  }
  .features {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .feature-img {
    width: 60rem;
    margin: 0 auto;
  }
  .res-order-1 {
    order: 1;
  }
  .res-order-2 {
    order: 2;
  }
  .res-order-3 {
    order: 3;
  }
  .res-order-4 {
    order: 4;
  }
  .res-order-5 {
    order: 5;
  }
  .res-order-6 {
    order: 6;
  }
  .robot {
    width: 30rem;
  }

  .testimonials {
    column-gap: 3.2rem;
    row-gap: 3.2rem;
  }
  .testimonial-card {
    width: 100%;
    background-color: none;
    box-shadow: none;
    background-color: #f8f9fa;
  }
  .testimonial-card:nth-child(1) {
    box-shadow: none;
  }
  .testimonial-card:nth-child(2) {
    box-shadow: none;
  }
  .testimonial-card:nth-child(3) {
    box-shadow: none;
  }
  .testimonial-card:nth-child(4) {
    box-shadow: none;
  }
  .pricing-card {
    width: 25rem;
  }
  .premium {
    width: 28.75rem;
  }
  .check-icon {
    width: 1.6rem;
    height: 1.6rem;
  }
  .check-icon {
    width: 2rem;
    height: 2rem;
  }
  .perks div {
    padding-left: 1.6rem;
  }
  /* Temporary */
  .threehex,
  .threehex-left {
    display: none;
  }
  .onehex-left {
    display: none;
  }
  .onehex {
    display: none;
  }
  .mission-description {
    width: 100%;
  }

  @media (max-width: 50.25em) {
    html {
      font-size: 56.25%;
    }
    .nav-texts {
      top: 0;
      align-items: center;
      position: fixed;
      background-color: rgba(3, 105, 161, 0.95);
      width: 100%;
      height: 100vh;
      flex-direction: column-reverse;
      justify-content: center;
      gap: 3.6rem;
      left: 100%;
      transition: all 0.3s;
      z-index: 99;
    }
    .nav-text {
      font-size: 2.4rem;
      color: white;
    }
    .close {
      color: #fff;
    }
    .menu {
      display: block;
      z-index: 1000;
    }
    .heading {
      font-size: 4.4rem;
    }
    .feature-img {
      width: 100%;
    }
    .features-title {
      font-size: 4.4rem;
    }
    .feature-title {
      font-size: 3.6rem;
    }
    .feature-description {
      font-size: 1.6rem;
    }
    .robot {
      width: 30rem;
    }
    .mission-description {
      font-size: 1.6rem;
    }
    .heading-secondary {
      font-size: 2.4rem;
    }
    .mission-container {
      padding-bottom: 4.8rem;
      padding-top: 2.4rem;
    }
    .grid--5-col {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 4.8rem;
    }
    .company {
      grid-column: -4/-2;
    }
    .res-order-1 {
      order: 1;
    }
    .res-order-2 {
      order: 2;
    }
    .res-order-3 {
      order: 3;
    }
    .res-order-4 {
      order: 4;
    }
    .res-order-5 {
      order: 5;
    }
    .footer-section {
      padding-top: 4.8rem;
      padding-bottom: 4.8rem;
    }
    .company-footer {
      margin-bottom: 1.6rem;
    }
    .account {
      gap: 1.2rem;
    }
    .info {
      gap: 1.6rem;
    }
    .help {
      gap: 1.6rem;
    }
    .screen-container-mission {
      width: 32.5rem;
    }
  }
}
@media (max-width: 40em) {
  html {
    font-size: 56.25%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .company-logo {
    overflow-y: hidden;
  }
  .navigation {
    margin-bottom: 3.2rem;
  }
  .container {
    margin-top: 3.2rem;
    gap: 2.4rem;
    padding-bottom: 0;
  }
  .headline {
    padding-left: 0;
  }
  .heading {
    font-size: 2.8rem;
    text-align: center;
  }
  .subheading {
    font-size: 1.8rem;
    padding-top: 2.4rem;
  }
  .button-learn {
    margin-top: 2.4rem;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }
  .title {
    width: 30rem;
    /* height: 100%; */
  }
  .about-title {
    padding-left: 4.8rem;
  }
  .screen-container {
    margin-right: 0;
  }
  .feature-section {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }
  .features {
    row-gap: 3.2rem;
  }
  .feature-title {
    font-size: 3.2rem;
  }
  .accesible {
    padding-left: 0;
  }
  .mission-description {
    margin-right: 0;
  }
  .pricing-plans {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    justify-items: center;
  }
  .premium {
    order: 1;
  }
  .logic {
    order: 2;
  }
  .free {
    order: 3;
  }
  .testimonials {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .testimonial-card {
    padding-top: 3.2rem;
    padding: 3.2rem;
  }
  .footer-section {
    column-gap: 1.6rem;
    row-gap: 2.4rem;
  }
  .account {
    margin-left: 3.2rem;
  }
  .info {
    /* text-align: center; */
    padding-left: 1.6rem;
  }
  .help {
    margin-left: 1.6rem;
  }
  .footer-link {
    font-size: 1.4rem;
  }
  .company-name {
    font-size: 3rem;
  }
  .testimonial {
    padding-left: 0;
  }
  .mission-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .heading-secondary {
    font-size: 2.8rem;
  }
  .pricing-card {
    width: 27.5rem;
  }
  .premium {
    width: 30rem;
  }
  .pricing-name-premium {
    font-size: 3rem;
  }
  .pricing-name {
    font-size: 2.8rem;
  }
  .button.cta {
    background-color: #fff;
    color: #0369a1;
  }
  .pricing-title {
    padding-left: 4.8rem;
    font-size: 4.4rem;
    letter-spacing: 1.1px;
  }
}
